global:
  scrape_interval: 30s
  scrape_timeout: 10s
  evaluation_interval: 15s
scrape_configs:
- job_name: prometheus
  static_configs:
  - targets:
    - localhost:9090
- job_name: app
  static_configs:
  - targets:
    - localhost:3001    
- job_name: linux_so
  static_configs:
  - targets:
    - localhost:9100    
- job_name: external
  file_sd_configs:
    - files:
      - targets.json    